.menu-header:hover {
  background-color: #ccc;
  cursor: pointer;
  transform: scale(1.1); /* Grow the item by 10% */
}

.title {
  animation: fadeIn 2s ease-in-out;
  transition: transform 0.3s; /* Add transition for smooth effect */
}

.title:hover {
  transform: scale(1.1); /* Grow the title by 10% on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
